<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register by javascript</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/register.css">
  <script type="text/javascript" src="../javascript/register.js"></script>
</head>
<body>
  <div class="container">
    <div class="header">
      <h2>Membership</h2>
    </div>
    <!-- FormRegister -->
    <form class="form" id="form">
      <div class="form-control success">
        <label for="">userName</label>
        <input type="text" placeholder="userName" id="userName">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small id="errorname">Eroll your text</small>
      </div>
      <div class="form-control error ">
        <label for="">Email</label>
        <input type="text" placeholder="Email@gmail.com" id="email">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Eroll your text</small>
      </div>
      <div class="form-control">
        <label for="">Password</label>
        <input type="text" placeholder="Password" id="password">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Eroll your text</small>
      </div>
      <div class="form-control">
        <label for="">PhoneNumber</label>
        <input type="text" placeholder="PhoneNumber" id="PhoneNumber">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Eroll your text</small>
      </div>
      <button type="Submit">Submit Registration</button>
    </form> 
    
  </div>
</body>
</html>