<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show product detail</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/showproduct.css">
</head>
<body>
  <div class="container">
    <div class="child-products">
      <ul>
        <li><img src="../images/aosomi1.jpg" alt="aosomi1"></li>
        <li><img src="../images/aosomi2.jpg" alt="aosomi1"></li>
        <li><img src="../images/aosomi3.jpg" alt="aosomi1"></li>
      </ul>
    </div>
    <div class="main-image">
      <img src="../images/main-aosomi1.jpg" alt="aosomi1">
    </div>
  </div>
</body>
</html>